
header, #main, aside, footer, .placeholder {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
}

header {
	border: 2px solid #acacac;
	padding: 5px;
	background-color: #D3D3D3;
	height: 182px; 
	width:1225px;
	margin: 20px;
	clear:both;
	
}

#main {
	border: 2px solid #acacac;
	padding: 5px;
	background-color: #D3D3D3;
	height: 510px; 
	width:810px;
	margin: 0 0 20px 20px;
	float: left;
	

}



aside {
	border: 2px solid #acacac;
	padding: 5px;
	background-color: #D3D3D3;
	height: 510px; 
	width:380px;
	margin: 0 0 20px 20px;
	float:left;
	
}

footer {
 	border: 2px solid #acacac;
	padding: 5px;
	background-color: #D3D3D3;
	height: 182px; 
	width:1225px;
	margin: 0 0 20px 20px;
	clear:both;


}

.placeholder {
	
}
